
<footer class="footer" style="background-color: #FFFFFF;">
   <div class="footer__list">
      <div class="footer__list-item" >
         
            <span class="footer__list-text"><a style="color:#000000;text-decoration: none;" href="/register">הרשמה</a></span>
      </div>
      <div class="footer__list-item">
            <span class="footer__list-text"><a style="color:#000000;text-decoration: none;" href="/loginMember">אימות</a></span>
      </div>
      <div class="footer__list-item">
         <span class="footer__list-text"><a style="color:#000000;text-decoration: none;" href="/terms">תקנון</a></span>
      </div>
       <div class="footer__list-item">
         <span class="footer__list-text"><a style="color:#000000;text-decoration: none;" href="/content_us">צור קשר</a></span>
      </div>
      <div class="footer__list-item">
         <div class="footer-center">
            <div class="footer__links-conect">
               <span class="footer__list-text"><h1><a style="color:#000000" href="https://api.whatsapp.com/send?phone=+972542067843&text=שלום מרכז הקפה והטבק יש לי שאלה"><i class="fa-brands fa-whatsapp"></i></a></h1></span>
            </div>
            <div class="footer__links-conect">
               <span class="footer__list-text"><h1><a style="color:#000000" href="https://www.instagram.com/coffee.tobacco.center/"><i class="fa-brands fa-instagram"></i></a></h1></span>
            </div>
            <div class="footer__links-conect">
               <span class="footer__list-text"><h1><a style="color:#000000" href="https://www.tiktok.com/@bukaranetanel/"><i class="fa-brands fa-tiktok"></i></a></h1></span>
            </div>
            <div class="footer__links-conect">
               <span class="footer__list-text"> <h1><a style="color:#000000" href="https://www.facebook.com/people/%D7%9E%D7%A8%D7%9B%D7%96-%D7%94%D7%A7%D7%A4%D7%94-%D7%95%D7%94%D7%98%D7%91%D7%A7/100084131074473/"><i class="fa-brands fa-facebook-f"></i></a></h1></span>
            </div>
         </div>   
      </div>
   </div>
</footer>
{{!-- add aboutUs page also in footer --}}

