<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Categories</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css">
    <style>
    .card.h-100{
    border:2px solid black;
  }
    .card.h-100:hover{
    background: #eae8e8;
  }
 

  .mb-0{
 
    font-weight: 600;
  }

  #prevButton{
  margin-top: 2%;
  }
  #nextButton {
  margin-top: 2%;
  position: absolute;
    margin-left: 70%;
  }
  #price-select {
  width: 100%;
}

#price-select option {
  width: 100%;
}

    </style>
  </head>
  <body>
      
    {{> header}}
    <div class="link">

    </div>
    <div class="link">

    </div>

    <section class="page-section clearfix">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner  text-center" >         
          <h1 id="cat_name_head"></h1>
          <div class="menu__container-category__item" >
            <img src="" id="icon_category" style="display: unset;" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="page-section clearfix" id="sortcat" >
      
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center ">
          <h4 class="card-title mt-3 text-center">מיון</h4>
          
          <select class="search__btn" style="width: 90%; direction:rtl; height:5rem;"  id="price-select">
            <option value=""> בחר מיון</option>
            <option value="maxtomin">מחיר גבוה לנמוך</option>
            <option value="mintomax">מחיר נמוך לגבוה</option>
          </select>
          
        </div> 
      </div>
    </section>

    <section>
      <div class="container py-5">
        <div class="row"  id="rrr">
        </div>
      </div>
    </section>
   <section class="page-section clearfix"> 
    <div class="container px-4 px-lg-5 mt-5" style="text-align:center;">    
        <div id="carouselExampleControls2"  class="carousel slide">
        <h1 id="title_of_banner" style="direction: rtl;" ></h1>
        <div id="carousel-inner" class="carousel-inner">  
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
          <span style="background-color:black;color:black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
          <span style="background-color:black;color:black;" class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section> 
    {{> footer}}
    <script src="../public/js/prodbycathbs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

