<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/success.css">
  </head>
  <body>
    <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
      <h1>הזמנתך נוצרה בהצלחה</h1> 
      <div id="detials"></div>
    </div>
    <div id="countdown"></div>
  </body>
  <script src="../public/js/success.js"></script>
</html>