<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Terms</title>
    <meta name="author" content="Xmartlabs" />
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/styles.css">
        
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <meta property="og:type" content="website" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />
        
    <style>
        body{
            direction: rtl;
        }
        .content p, .section-title p{
            font-weight: 400;
        }

    .alert-white {
      background:#FFFFFF;
    }

    @media (min-width: 992px){
      .col-md-8 {
          width: 66.66666667%;
      }
    }
    @media (min-width: 992px){
      .col-md-offset-2 {
        margin-right: 16.66666667%;
      }
    }
    @media (min-width: 992px){
      .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
          float: left;
      }
    }
          
    </style>
  </head>

  <body >
    {{> header}}
    <div class="link"></div>
    <div class="link"></div>
    <div class="container-fluid">
      <div class="row terms-and-conditions-section">
        <div class="col-xs-12 text-center">
          <h1 class="title">תקנון ושימוש באתר</h1>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
          <div class="content">
            <h2 class="section-title">מבוא</h2>
            <p>
              1. אתר "מרכז הקפה והטבק" ("האתר") הינו אתר ברשת האינטרנט, המהווה חנות וירטואלית לרכישת מוצרים ושירותים על ידי ציבור הגולשים ברשת האינטרנט. בעל האתר ומפעילו הינו חברת "מרכז הקפה והטבק", שמשרדה הרשום ברח' אלי כהן 42 אשקלון 7871808 ("מרכז הקפה והטבק").
            </p>
            <p>
             2. פעולה באתר הינה כל פעולה המבוצעת באתר, לרבות גלישה ו/או רכישת מוצרים ו/או שירותים המוצעים באתר ("פעולה").
            </p>
            <p>
             3. הוראות תנאי שימוש זה יחולו על כל פעולה שתבוצע באתר על ידי "המשתמש", כהגדרתו להלן.
            </p>
            <p>
             4. תנאי השימוש מהווים חוזה התקשרות מחייב בין המשתמש ובין מרכז הקפה והטבק, לכל דבר ועניין. מובהר כי גלישה באתר ו/או ביצוע כל פעולה באתר, מהוות הסכמת המשתמש לקבל ולנהוג על פי
            הוראות תנאי השימוש. אם אינך מסכים לתנאי מתנאי השימוש, הנך מתבקש לא לעשות כל שימוש באתר. ויודגש, כל המבצע פעולה באתר מצהיר כי הנו מודע להוראת תנאי השימוש
            באתר ומקבלם, וכי לא תהא לו ו/או למי מטעמו כל טענה ו/או תביעה כנגד בעלי האתר ו/או
            מפעיליו ו/או מי מטעמם מלבד טענות הקשורות בהפרת התחייבויות בעלי האתר ו/או מפעיליו על פי תנאי שימוש אלה וכללי השתתפות אלו.
            </p>
            <p>
                5. לצורך תנאי שימוש אלה, "משתמש" - כל אדם, לרבות תאגיד המבצע פעולה באתר, הכל בכפוף למילוי התנאים המצטברים המפורטים להלן:
               <br> א) המשתמש הנו כשיר לבצע פעולות משפטיות מחייבות; במידה והמשתמש הינו קטין (מתחת לגיל 18) הוא אינו זכאי לבצע רכישות באתר. 
                <br> ב) לשם ביצוע פעולה של רכישת מוצרים ו/או שירותים באתר - המשתמש הנו בעל כרטיס אשראי ישראלי או בינלאומי תקף.
                <br> ג) לשם ביצוע פעולה של רכישה ו/או הרשמה לרשימת התפוצה של מרכז הקפה והטבק - המשתמש הוא בעל תא דואר אלקטרוני פעיל ברשת האינטרנט.
            </p>
            <h2 class="section-title">תנאים כלליים</h2>
            <p>
              1. מובהר כי מרכז הקפה והטבק רשאית, על פי שיקול דעתה, להפסיק את פעילות האתר בכל עת וללא הודעה מראש.
            </p>
            <p>
              2. מרכז הקפה והטבק שומרת לעצמה את הזכות למנוע את הגישה לאתר ו/או לאפשרות לבצע רכישות באתר ו/או לבטל השתתפות של משתמש שהתנהגותו אינה הולמת או שאינה לפי תנאי השימוש, או המנסה לפגוע בניהולו התקין של האתר ו/או בשמה הטוב של מרכז הקפה והטבק.
            </p>
            <p>
              3. תנאי שימוש ניתנים לשינוי ו/או עדכון בכל עת ע"י מרכז הקפה והטבק ו/או מי מטעמה, על פי שיקול דעתם הבלעדי.
            </p>
            <p>
              4. האמור בתנאי השימוש מתייחס באופן שווה לבני שני המינים, והשימוש בלשון זכר הוא מטעמי נוחות בלבד.
            </p>
            <p>
              5. כותרות הפרקים מובאות לשם נוחות והתמצאות המשתמש ולא ישמשו בפרשנות תנאי השימוש.
            </p>
            <h2 class="section-title">שירותים המוצעים באתר</h2>
            <p>
             1. האתר מציע מגוון תכנים ו/או שירותים ו/או פעולות ולרבות, אך לא רק, השירותים המפורטים להלן:
                גלישה ועיון בתכנים שונים; רכישת מוצרים ו/או שירותים; יצירת "רשימת מועדפים" – רשימת פריטים נבחרים על ידי המשתמש; שיתוף ושליחת פריטים מן האתר מן המשתמש אל חבריו באמצעות דוא"ל ו/או שיתוף באמצעות רשתות חברתיות; מתן משוב ו/או תגובות לפריטים ו/או תכנים באתר אשר יפורסמו באתר ו/או בדפים המנוהלים על ידי מרכז הקפה והטבק ו/או עבורה ו/או בשיתוף פעולה עימה ברשתות חברותיות שונות, קיימות ו/או עתידיות ("רשתות חברתיות"). מובהר כי מרכז הקפה והטבק רשאית לבחור, על פי שיקול דעתה הבלעדי והמוחלט, באם לפרסם או למנוע את פרסום המשוב; תיוג פריט או שיבחר על ידי המשתמש באמצעות רשתות חברתיות; הרשמה לדיוור (קבוצת דיוור קבלת מידע תכני, שיווקי ופרסומי באמצעי מדיה שונים לפי בחירת המשתמש ).
            </p>
            <p>
              2. מובהר כי מרכז הקפה והטבק אינה מתחייבת כי כל התכנים ו/או השירותים הללו יינתנו ו/או יינתנו באופן רציף ושוטף באתר, ומרכז הקפה והטבק תהא רשאית לשנות (לרבות להרחיב או לצמצם) את רשימת התכנים ו/או
                השירותים הניתנים באתר, לפי שיקול דעתה הבלעדי ומבלי ליתן על כך הודעה כלשהי. מובהר, כי מרכז הקפה והטבק רשאית לבחור לפסול ו/או שלא להעלות לאתר ו/או לרשתות החברתיות כל תגובה ו/או משוב
                ו/או תמונה ו/או תוכן ("התוכן"), אשר על פי שיקול דעתה הבלעדי והמוחלט, עשוי לפגוע בשמה של מרכז הקפה והטבק ו/או ברגשות הציבור ו/או הינו בעל אופי בוטה או פוגעני ו/או שהוא עשוי לגרום להפרת זכויות קניין כלשהן ו/או שהיא נוגד הוראות כל דין ו/או מכל טעם אחר. כל משתמש בשירותים המוצעים באתר מצהיר ומאשר בזאת, כי הוא נותן למרכז הקפה והטבק את זכות השימוש המלאה והבלעדית בתכנים
                ומאשר ומתחייב כי מרכז הקפה והטבק תהיה רשאית להשתמש בשמו  במסגרת כל פרסום ו/או הצגת התוכן באתר ו/או ברשתות החברתיות וללא תשלום כלשהו. זכות זו של מרכז הקפה והטבק תישמר ללא
                הגבלת זמן. כמו כן, המשתמש בשירותים מאשר כי הוא מודע לכך כי מרגע פרסום המשוב ו/או התגובות, השיתוף, התיוג והעלאת ותכנים מכל סוג לאתר ו/או לרשתות החברתיות, תהיינה פעולותיו אלה חשופות לציבור, על כל המשתמע מכך, והמשתמש מאשר כי לקח זאת בחשבון בהחלטתו להשתמש בשירותים אלה. המשתמש מאשר כי למרכז הקפה והטבק מוניטין בתחום פעילותה וכי עליו להימנע מכל פגיעה במוניטין של מרכז הקפה והטבק ובכלל זה להימנע מכל פעילות באתר אשר עלולה לפגוע בשמה הטוב של מרכז הקפה והטבק בעיני הציבור. בהקשר זה, מתחייב המשתתף כי לא יפעל בדרך שיש בה כדי לפגוע במוניטין של החברה כאמור.
            </p>

            <h2 class="section-title">הרכישה באתר</h2>
            <p>
              1. האתר מאפשר, בין היתר, בחירת ורכישת פריטים מבין הפריטים המופיעים באתר, באופן קל, נוח ומהיר. כדי לבצע הזמנה יש תחילה לבחור את הפריט או השירות, 
                המבוקשים. עבור כל פריט או שירות המוצע באתר יוצג "דף פריט" בו יופיעו פרטי הפריט או השירות המוצע ומחירו לצרכן ("דף הפריט"). לתשומת הלב, מרכז הקפה והטבק רשאית לעדכן את דף הפריט
                מעת לעת, להוסיף או להחסיר פרטים, להסיר מוצרים שאזלו מן המלאי, להוסיף  וכן לעדכן ו/או לשנות את מחיר הפריט מעת לעת. מובהר כי התמונות באתר הן להמחשה
                בלבד, ייתכנו שינויים בין התמונות, לרבות הצבעים המופיעים בתמונות ופרטי הפריטים ובין
                הפריטים בפועל. שינויים אילו נובעים, בין השאר, מן העובדה כי הפריטים מצולמים ומוצגים על גבי מסך מחשב. המחירים המוצגים באתר כוללים מע''מ על-פי דין, אלא אם צוין אחרת במפורש.
            </p>
            <p>
              2. על מנת לבצע רכישה באתר, יתבקש המשתמש לבחור סיסמא, וכן להקליד פרטים בסיסיים, כגון שם, כתובת, כתובת דואר אלקטרוני, מספר טלפון ומספר כרטיס אשראי. על מנת שההזמנה תבוצע במהירות וללא תקלות יש להקפיד על מסירת הפרטים הנכונים אחרת לא ניתן יהיה להשלים את ההזמנה ולספק את המוצרים שהוזמנו ("ביצוע ההזמנה"). לתשומת הלב, מסירת פרטים כוזבים ביודעין עלולה לעלות כדי עבירה פלילית. נגד מוסרי פרטים כוזבים עלולים להינקט צעדים משפטיים אזרחיים ופליליים, לרבות תביעות נזיקין בגין נזקים שיגרמו למרכז הקפה והטבק עקב שיבוש הפעלת האתר. כמו כן, המידע שימסר על ידי המשתמש באתר ישמש בין השאר לשליחת דואר אלקטרוני/קבוצת ווצפ בנוגע למבצעים מיוחדים או עדכונים באתר, זאת אך ורק לאחר קבלת אישור
                המשתמש לכך בהתאם לכל דין.
            </p>
            <p>
              3. במעמד ביצוע ההזמנה תבצע מרכז הקפה והטבק בדיקה של פרטי כרטיס האשראי (או אמצעי תשלום אחר שבאמצעותו ניתן לשלם באתר, לפי העניין) ועם קבלת אישור ההזמנה ע"י חברות כרטיסי האשראי (או החברה הסולקת, לפי העניין), תימסר למשתמש הודעה מתאימה כי ההזמנה אושרה ("אמצעי התשלום" ו"החברה הסולקת", בהתאמה). מובהר כי חיוב מבצע הפעולה בגין עלות הפריט או השירות הנרכש על ידו, יתבצע באמצעות אמצעי התשלום) מיד עם סיום ביצוע ההזמנה. המוצר/ים ו/או השירות/ים שירכשו באמצעות האתר (בכפוף לאישור אמצעי התשלום כאמור) יכונו להלן: "הפריטים".
            </p>
            <p>
                4. תנאים מצטברים להשלמת עסקת הרכישה:
                <br> א) עסקת הרכישה תבוצע רק לאחר השלמת תהליך ההזמנה ולאחר שמרכז הקפה והטבק תקבל אישור מאת החברה הסולקת על ביצוע החיוב, בהתאם לנהלי העבודה הקיימים בין החברה הסולקת ובין מרכז הקפה והטבק. במקרה בו לא אושרה העסקה ע"י החברה הסולקת – תשלח ללקוח הודעה מתאימה. השלמת עסקת הרכישה מותנית גם בכך שהפריטים
                המבוקשים קיימים במלאי בעת השלמת הליך ההזמנה. במקרה של פריט אשר אזל מן המלאי ו/או שישנה בעיה באספקתו, מכל סיבה שהיא, תהיה מרכז הקפה והטבק רשאית להודיע למשתמש על ביטול ההזמנה. הודעה כאמור תימסר למשתמש באמצעות דואר אלקטרוני ו/או בהודעה טלפונית, על פי בחירת מרכז הקפה והטבק. במקרה כאמור, לא תהיה
                למשתמש טענה כלשהי כנגד מרכז הקפה והטבק ובעצם ביצוע ההזמנה, מוותר המשתמש על כל טענה כאמור. מרכז הקפה והטבק שומרת לעצמה את הזכות להגביל את כמות הפריטים בכל הזמנה, לרבות, אך לא רק, על מנת למנוע הזמנות סיטונאיות, האסורות לביצוע באתר להזמנות סיטונאיות יש להתקשר לשלוחה : 08-621-4780.
                <br> ב) מרכז הקפה והטבק תהא רשאית לאפשר רכישה באמצעות אמצעי רכישה נוספים וכן לקבוע לגביהם כי תשלום באמצעותם יהיה מוגבל לרכישת פריטים מסוימים בלבד.
                <br> ג) ההזמנה תרשם במחשבי מרכז הקפה והטבק וניתן יהיה לראותה ולעקוב אחר הטיפול בה באמצעות "אזור אישי" + ״חיפוש הזמנה״ שבאתר. כמו כן יישלח אישור בדואר אלקטרוני על ביצוע הפעולה בתוך 48 שעות מסיום ביצוע עסקת הרכישה על ידי המשתמש באתר. יובהר ויודגש, משלוח
                הודעת דואר אלקטרוני בדבר רישום ההזמנה במערכת של הממוחשבת של מרכז הקפה והטבק אינה מהווה ראיה בדבר השלמת הפעולה ואין במשלוח הודעת הדוא"ל כדי לחייב את מרכז הקפה והטבק. מובהר כי רישומי מערכת המחשב של מרכז הקפה והטבק הכוללים רישום ממוחשב ואוטומטי של כל
                הפעולות באתר מהווים ראיה לכאורה לאמור בהם.
            </p>
            <p>
                5. יובהר כי המחירים באתר עשויים להיות שונים מהמחירים בחנויות מרכז הקפה והטבק (זולים יותר או יקרים יותר).
            </p>

            <h2 class="section-title">אספקת המוצר</h2>
            <p>
             המשתמש רשאי לבחור באספקת הפריטים המוזמנים ישירות לכתובת המיועדת בזמן ביצוע ההזמנה   .
                
            </p>
            <p>
                1. מרכז הקפה והטבק תספק למשתמש את הפריטים באמצעות חברת שילוח עצמאית ("חברת השילוח"). אספקת הפריטים על ידי חברת השילוח תיעשה בתוך מספר ימים ממועד ביצוע ההזמנה באתר, ובהתאם למועדי האספקה כפי שהיו מעודכנים במעמד ביצוע ההזמנה. מרכז הקפה והטבק איננה אחראית לכל מעשה ו/או מחדל של חברת השילוח, לרבות איחור בביצוע האספקה. לא תתאפשר אספקת פריטים מחוץ לשטחי ישראל. לא תתאפשר אספקת פריטים בימי שישי/שבת/ערבי חג וחג. מרכז הקפה והטבק אינה מחויבת לספק את הפריטים אל אזורים המוגבלים לגישה מבחינה ביטחונית. אספקת פריטים אל בית המשתמש כרוכה בתשלום דמי משלוח כמפורט באתר ("דמי משלוח").דמי המשלוח יתווספו למחיר הפריטים המצוין באתר. דמי המשלוח יגבו בגין אספקה ליעד אחד, בין אם הוזמן פריט אחד או יותר
            </p>
            <p>
                2. במקרים מסוימים, עשויה מרכז הקפה והטבק להציע למכירה באתר פריטים אשר יסופקו על ידי צד ג' המייצר ו/או מייבא אותם עבור מרכז הקפה והטבק ("הספק" ו"פריטים המסופקים על ידי הספק החיצוני", בהתאמה).
                במקרה כאמור, ביצוע ההזמנה והתשלום עבורה יעשה באתר, כמפורט לעיל, לרבות תשלום דמי המשלוח. במקרים כאמור, יועברו פרטיו של הלקוח אל הספק על מנת השלמת אספקת ההזמנה, קרי – יצירת קשר עם הלקוח לשם תיאום מועד אספקת ההזמנה. הלקוח לא יידרש לשלם סכומים נוספים כלשהם לספק ו/או למשלח מטעמו. יובהר כי מרכז הקפה והטבק תהיה רשאית להגביל אספקת פריטים לאזורים מוגבלים ו/או לגבות בגינם דמי משלוח שונים (ואף גבוהים) מאלו שנגבים בגין הזמנות אחרות. כמו כן יובהר כי לא ניתן להזמין לחנויות מרכז הקפה והטבק פריטים המסופקים על ידי הספק החיצוני.
            </p>
            <p>
                3. זמני האספקה המפורטים באתר ימנו החל ממועד אישור ההזמנה ע"י החברה הסולקת. ייתכנו שינויים בזמני האספקה עקב עיכובים התלויים בצד ג' ושאינם תלויים במרכז הקפה והטבק. המשתמש מאשר
                כי ידוע לו כי יכול ואספקת הפריטים תיעשה בתוך זמן קצר או ארוך יותר מן הזמן המשוער וכן, מאשר כי ידוע לו כי מרכז הקפה והטבק לא תהיה אחראית לאיחור בביצוע אספקת הפריטים במקרים הבאים:
               <br> א) עקב "כוח עליון" ומבלי לפגוע בכלליות האמור, מלחמה, פעולות איבה, מצבי חרום, מגפה בריאותית ונזקי טבע.
               <br> ב) שביתה ו/או השבתה אצל ספקי הסחורות הדרושים לייצור ו/או הובלת המוצרים. ג) כל סיבה אחרת שאיננה בשליטת מרכז הקפה והטבק. ד) באזורים המוגבלים לגישה מבחינה ביטחונית מרכז הקפה והטבק תהיה רשאית לספק את
                הפריטים למשתמש במקום סמוך ומקובל וזאת בתיאום מראש עם המשתמש.
            </p>
            <p>
                4. מובהר כי מרכז הקפה והטבק איננה מתחייבת לזמן אספקה כאשר הפריטים אינם נמצאים במלאי. אם פריטים מסוימים חסרים במלאי, מרכז הקפה והטבק תמסור הודעה על כך למשתמש אשר יהא רשאי לבטל את ההזמנה
            </p>

            <h2 class="section-title">ביטול עסקת הרכישה על ידי המשתמש</h2>
            <p>
              1. המשתמש רשאי לבטל את העסקה שביצע באתר בהתאם להוראות חוק הגנת הצרכן, התשמ"א – 1981 ("חוק הגנת הצרכן") או לחילופין, להחליף את המוצר כנגד מוצר חלופי שווה ערך או כנגד זיכוי כספי לרכישה עתידית, הכל כמפורט להלן:
               <br> א) הודעה בדבר ביטול עסקה שבוצעה באתר יכולה להינתן שלוחה בטלפון : <a style="color:black; text-decoration:none;" href="tel:+972086214780">08-621-4780 </a>
              <br>  ב) ביטול העסקה לאחר קבלת הפריט בידי המשתמש, שלא עקב פגם במוצר ו/או אי התאמה: המשתמש יהא רשאי לבטל את עסקת הרכישה בתוך 14 יום מיום קבלת הפריט. ביטול העסקה יבוצע באמצעות אחת החלופות הבאות, לבחירת הלקוח:
              <br>  1. השבת הפריט לאחת מחנויות מרכז הקפה והטבק לפי בחירתו, למעט חנויות הממוקמות בעיר אילת . על אף האמור, בכל הנוגע לפריטים מקולקציית הבית (Home), החזרתם
                תתאפשר רק בחנויות שבהן נמכרת קולקציה זו.
              <br>  2. מובהר כי במקרה של ביטול עסקה שלא עקב פגם ו/או אי התאמה לא יהא המשתמש זכאי להחזר בגין דמי המשלוח ששולמו על ידו (ככל ששולמו).
              <br>  3. ביטול העסקה כתוצאה מפגם ו/או אי התאמה בין המוצר ובין פרטיו כפי שמופיעים באתר - על המשתמש לבדוק את הפריט מייד עם קבלתו. במידה והפריט התקבל בידי המשתמש כשהוא פגום, או כאשר מפרט הפריט בפועל שונה מן המפרט שהוצג באתר, כי אז רשאי המשתמש לבטל את העסקה בתוך 14 יום מיום קבלת הפריט לידו באמצעות השבת המוצר לאחת מחנויות מרכז הקפה והטבק, למעט בחנויות הממוקמות בעיר אילת .
              <br>  4. בכל מקרה של פגם, מתבקש המשתמש לעדכן את מרכז הקפה והטבק בתוך 48 שעות ממועד קבלת הפריטים הפגום לידיו.
              <br>  5. בכל שאלה הקשורה לבירורים, החלפות, החזרות וכד' יש לפנות אל מחלקת שירות הלקוחות של מרכז הקפה והטבק בדוא"ל coffe_tabak_info@gmail.com 08-621-4780 .
              <br>  6. בכל מקרה, החזרת המוצר וקבלת החזר כספי בגינו, החלפתו במוצר אחר או קבלת זיכוי כספי לרכישה עתידית, לפי העניין, תעשה בכפוף לתנאים הבאים:
                <br> א) כנגד החזרת המוצר, כאמור לעיל, בצירוף חשבונית ו/או פתק החלפה.
               <br>  ב) החזר כספי במקרה של ביטול עסקה יבוצע באמצעות זיכוי אמצעי התשלום שבו בוצעה העסקה בתוך 14 יום מקבלת הבקשה לביטול העסקה והחזרת הפריט (המאוחר מבניהם).
               <br>  ג) החלפת הפריט במוצר אחר או החזרתו כנגד קבלת זיכוי כספי לרכישה עתידית תיעשה בחנויות מרכז הקפה והטבק, בהתאם למדיניות ההחלפות הכללית הנוהגת ברשת
                מרכז הקפה והטבק, כפי שתעודכן מעת לעת, בתוך 14 ימים מיום קבלת המוצר על ידי המשתמש ובתנאי שלא נעשה במוצר שימוש.
               <br>  ד) ביטול עסקה של פריט שנרכש כחלק ממארז יתאפשר רק בדרך של ביטול העסקה בגין המארז כולו.
               <br>  ה) במקרה של ביטול פריט שנרכש במבצע שהיה מותנה ברכישה פריטים נוספים ו/או ברכישה בסכום מסוים ו/או בהתניה אחרת כלשהי –לצורך חישוב ההחזר הכספי ו/או שווי ההחלפה ו/או גובה הזיכוי הכספי לרכישה עתידית שלו זכאי הלקוח, ככל שזכאי, תבוטל עסקת המקור ותבוצע מחדש, ללא הפיטר המוחזר, ובהתאם לכך יחושב שוויו של הפריט המוחזר בעת הביטול.
            </p>

            <h2 class="section-title">אחריות, אבטחה ופרטיות</h2>
            <p>
              מרכז הקפה והטבק ו/או מי מטעמה נוקטים באמצעי זהירות מקובלים על מנת לשמור, ככל האפשר על סודיות המידע. פרטיו האישים של המשתמש (שם, תאריך לידה, דואר אלקטרוני, היסטוריית רכישות וכדומה), יישמרו במאגר המידע של מרכז הקפה והטבק [מאגר מידע המצוי במחשבי ושרתי חברת מרכז הקפה והטבק]  להסרה, יש לפנות בכתב לשירות הלקוחות של מרכז הקפה והטבק במייל coffe_tabak_info@gmail.com . ביצוע ההסרה עשוי לארוך עד 14 ימי עבודה מיום קבלת הפנייה. על מנת להגן על סודיות המידע, פועלת מרכז הקפה והטבק באמצעות פרוטוקול לסחר אלקטרוני ( SSL- Secure Socket Layer) המשמש להצפנת נתונים מרגע קבלתם במערכת ועד להעברתם למערכת אתר מרכז הקפה והטבק. ויודגש; פרטי כרטיסי האשראי של המשתמשים המבצעים פעולות באתר אינם נשמרים כלל במערכות מרכז הקפה והטבק מאחר ומרכז הקפה והטבק נעזרת בחברה חיצונית לצורך סליקת אמצעי התשלום. מובהר כי מאחר ומדובר בביצוע פעולות בסביבה מקוונת, אין באפשרותה של מרכז הקפה והטבק להבטיח חסינות מוחלטת מפני חדירות למחשביה או חשיפת המידע האגור בידי מבצעי פעולות בלתי חוקיות ועל כן, אם יעלה בידי צד שלישי לחדור למידע אשר שמור בידי מרכז הקפה והטבק ו/או להשתמש בו לרעה, לא תהיה למשתמש כל טענה, תביעה או דרישה כלפי מרכז הקפה והטבק. כמו כן, במקרים הנובעים מכוח עליון, מרכז הקפה והטבק לא תהיה אחראית לכל נזק מכל סוג שהוא, עקיף או ישיר שייגרם למשתמש או למי מטעמו, אם מידע כלשהו שמסר יאבד או יגיע לגורם עוין ו/או יעשה בו שימוש שלא בהרשאה. מרכז הקפה והטבק מתחייבת כי לא תעשה שימוש בפרטי המשתמשים הרשומים באתר אלא לצרכי תפעול האתר בלבד ועל מנת לאפשר את ביצוע הרכישה באתר (לרבות באמצעות הספקת המוצרים המסופקים על ידי הספק החיצוני) , וכן, לצורך שמירת קשר עם המשתמש. למרות האמור לעיל, מרכז הקפה והטבק תהא רשאית להעביר פרטיו האישיים של משתמש לצד שלישי במקרים בהם המשתמש ביצע מעשה או מחדל הפוגעים ו/או העלולים לפגוע במרכז הקפה והטבק ו/או בצדדים שלישיים כלשהם, המשתמש עשה שימוש בשירותי מרכז הקפה והטבק לביצוע מעשה בלתי חוקי, אם התקבל בידי מרכז הקפה והטבק צו שיפוטי המורה לה למסור את פרטי המשתמש לצד שלישי וכן בכל מחלוקת או הליך משפטי. כמו כן, מרכז הקפה והטבק תוכל להשתמש בפרטיו האישיים של המשתמש, ללא זיהוי המשתמש הספציפי, לצורך ניתוח מידע סטטיסטי והצגתו ו/או מסירתו לגורמים אחרים.
            </p>


            <h2 class="section-title">ביטול עסקת הרכישה על ידי מרכז הקפה והטבק</h2>
            <p>
            מרכז הקפה והטבק שומרת לעצמה את הזכות להפסיק בכל עת, על פי שיקול דעתה הבלעדי, את הפעילות באתר ו/או לבטל עסקת רכישה שביצע משתמש, לרבות, אך לא רק, בכל אחד מהמקרים המפורטים להלן: (א) אם לאחר סיום עסקת הרכישה התגלה כי הפריט אזל מהמלאי; (ב) אם לא נקלטו במערכת פרטי אמצעי התשלום ופרטיו המלאים של המשתמש; (ג) אם נפלה טעות בנתונים המוצגים באתר (ד) בכל מקרה שבו נעשתה פעולה בניגוד לתנאי השימוש; (ה) אם עולה חשד כי המשתמש ביצע מעשה בלתי חוקי ו/או עבר על הוראות הדין; (ו) המשתמש מסר בעת ביצוע עסקת הרכישה ו/או לאחר מכן פרטים שגויים; (ז) המשתמש ביצע מעשה או מחדל שיש בו כדי לפגוע במרכז הקפה והטבק ו/או במי מטעמה ו/או בפעילותו התקינה של האתר ו/או בצד ג' אחר כלשהו; (ח) אם לפי דעת החברה, בכוונת המשתמש לשוב ולמכור את הפריטים שנרכשו על ידו באמצעות האתר לצד ג'. בהקשר זה המשתמש מאשר ומתחייב כי לא ימכור פריטים שרכש באתר לצד ג' כלשהו, לרבות בדרך של מכירה סיטונאית; (ט) המשתמש לא הגיע לחנות לאסוף את הפריטים שהוזמנו על ידו בתוך 10 ימי עסקים; (י) בכל מקרה אשר בו, מחמת "כח עליון", אין באפשרות מרכז הקפה והטבק לבצע ניהול תקין של האתר, לספק למשתמש את המוצרים ו/או לעמוד בהתחייבות אחרת שלה. בסעיף זה "כוח עליון" משמעו: לרבות תקלות מחשב, תקלות במערכת טלפונים או תקלות במערכות תקשורת אחרות, חבלה כלשהי ואירוע בטחוני ו/או במקרה של מגיפה בריאותית. בנסיבות כאמור רשאית מרכז הקפה והטבק לבטל את העסקה או להציע למשתמש פריט חלופי שווה ערך, לפי שיקול דעתה המוחלט ובהתאם לנסיבות הביטול. בוטלה מכירה כאמור מרכז הקפה והטבק לא תהיה אחראית ולא תישא, בכל מקרה, בכל נזק ישיר, עקיף, תוצאתי או מיוחד שנגרם למשתמש או לצד שלישי לרבות אך לא רק נזק בגין רכישת המוצר ו/או השרות אצל צד שלישי במחיר גבוה יותר.
            שירות לקוחות
            לפרטים ובירורים באשר למוצרים ו/או לאספקתם ניתן לפנות אל מחלקת שירות הלקוחות של מרכז הקפה והטבק במייל: coffe_tabak_info@gmail.com  או בטלפון: 08-621-4780.
            </p>

            <h2 class="section-title">קניין רוחני</h2>
            <p>
              כל זכויות הקניין הרוחני בכל התכנים באתר מרכז הקפה והטבק, לרבות סימני המסחר, הפטנטים, זכויות היוצרים, המדגמים, השיטות והסודות המסחריים, הינם רכושה של מרכז הקפה והטבק בלבד. זכויות אלה חלות, בין היתר, על עיצובו הגרפי של אתר מרכז הקפה והטבק, בסיסי הנתונים בו (לרבות רשימות המוצרים, תיאור המוצרים וכד'), קוד המחשב של האתר וכל פרט אחר הקשור בהפעלתו. אין לעשות כל שימוש מסחרי בנתונים המתפרסמים באתר מרכז הקפה והטבק, בבסיס הנתונים באתר, ברשימות ובתמונות המוצרים המופיעים בו או בפרטים אחרים המתפרסמים על ידי ו/או מטעם מרכז הקפה והטבק בלא קבלת הסכמת מרכז הקפה והטבק מראש ובכתב. אין להשתמש בנתונים כלשהם המתפרסמים באתר מרכז הקפה והטבק לצורך הצגתם באתר אינטרנט או בשירות אחר כלשהו בניגוד להוראות ההסכם ו/או בלא לקבל את הסכמת מרכז הקפה והטבק מראש ובכתב ובכפוף לתנאי אותה הסכמה (אם וככל תינתן). בכלל זה נאסר לאסוף נתונים מן האתר באמצעות תוכנות ו/או להפיץ נתונים כאלה ברבים באופן מסחרי או במסגרת מסחרית. אין להעתיק, לשכפל, להפיץ, למכור, לשווק ולתרגם מידע כלשהו מן האתר (לרבות סימני מסחר, תמונות, טקסטים וקוד-מחשב בלא קבלת רשותה המפורשת של מרכז הקפה והטבק מראש ובכתב. אין להציג את האתר בתוך מסגרת (Frame), גלויה או סמויה ואין לקשר לעמודים המצויים בתוכו ("קישור עומק"), אלא לעמוד הבית בלבד. אין להציג את האתר בעיצוב או ממשק גרפי שונים מאלה שעיצבה לו מרכז הקפה והטבק, אלא בכפוף לקבלת הסכמתה לכך מראש ובכתב. השם מרכז הקפה והטבק , שם המותג , סימני המסחר של מרכז הקפה והטבק (בין אם נרשמו ובין אם לאו), וכיו"ב - הם כולם רכושה של מרכז הקפה והטבק בלבד. אין לעשות בהם שימוש בלא קבלת הסכמתה בכתב ומראש. אייקונים (icons) כל מידע ו/או תצוגה המופיעים באתר, לרבות גרפיקה, עיצוב, הצגה מילולית, סימני מסחר, סימני לוגו (logo) וכן עריכתם והצגתם של אלה, הנם בבעלות בלעדית של מרכז הקפה והטבק ו/או מי מטעמה. אין להעתיק לשכפל, להפיץ, לפרסם או להשתמש בכל דרך אחרת את התכנים המופיעים באתר אלא אם מרכז הקפה והטבק נתנה את הסכמתה לכך, בכתב ומראש.
                דין ושיפוט
                הדין החל על תנאי השימוש ו/או על כל פעולה ו/או על סכסוך הנובע ממנו, הוא הדין הישראלי בלבד. בכל מקרה של מחלוקת, הסמכות הבלעדית לדון בכל מחלוקת הנובע, במישרין או בעקיפין, מהוראות תנאי השימוש ו/או מהשימוש ו/או מרכישות באתר - תהא לבתי המשפט (השלום או המחוזי) תל אביב-יפו ולא לכל בית משפט או ערכאה שיפוטית אחרת.
            </p>
     

            <h2 class="section-title">מדיניות פרטיות</h2>
            <p>
             1. כללי
            </p>
            <p>
              1.1 מרכז הקפה והטבק  החברה  מכבדת את פרטיותם של לקוחותיה, הן בחנויות  הפיזיות השונות והן של המשתמשים הנכנסים לאתר המופעל על ידה ובבעלותה – בכתובת https://tabak-cofee-center2.herokuapp.com/ וכן למשתמשים בשירותים השונים המוצעים במסגרתו (להלן יחדיו "המשתמשים" או "המשתמש").
            </p>
            <p>
             1.2. מטרת התנאים המפורטים במדיניות פרטיות זו הנה לסקור, בין היתר, את האופן שבו משתמשת החברה  במידע שנמסר לה על ידי המשתמשים בעת הגלישה והשימוש באתר ו/או בעת הצטרפות למועדון הלקוחות  ו/או בעת מסירת מידע במסגרת מבצעים, הטבות וקמפיינים הכוללים איסוף מידע ממשתמשים וכן את האופן שבו מבצע המשתמש שימוש בתכנים, המצויים באתר ו/או הקשורים במועדון הלקוחות  ו/או במבצעים ובקמפיינים אליהם נחשף באמצעות כל אלו.
            </p>
            <p>
              1.3. תנאי מדיניות הפרטיות המפורטים להלן, מהווים חלק בלתי נפרד מתנאי השימוש באתר. החברה רשאית לשנות מעת לעת את הוראות מדיניות הפרטיות שלה, כך שישקפו שינויים טכנולוגיים, עסקיים, משפטיים או רגולטוריים. עדכונים כאמור יפורסמו במסמך זה, אשר ימצא במתכונתו המעודכנת באתר האינטרנט של החברה. שימוש באתר כפוף למדיניות הפרטיות העדכנית בו, ויעיד על הסכמתך לשינויים בה – על כן אנו ממליצים לעיין במדיניות זו מעת לעת.
            </p>
            <p>
              1.4. כל ההגדרות והמונחים במדיניות הפרטיות יהיו כמשמעם בתנאי השימוש האתר, אלא אם הקשרם של הדברים מחייב אחרת.
            </p>
            <p>
                2. רישום והעברת מידע לחברה 
            </p>
            <p>
                2.1. חלק מהשירותים ו/או מההטבות, הניתנים במסגרת האתר ו/או הרכישה באתר ו/או במסגרת אמצעי המדיה החברתית השונים, כגון: פייסבוק, אינסטגרם וכיוצ"ב (להלן: "אמצעי מדיה חברתית") ו/או במסגרת הצטרפות למועדון הלקוחות  ו/או במסגרת מבצעים וקמפיינים מסוימים, טעונים מסירת מידע אישי, כדוגמת שמך, כתובתך, פרטי אמצעי תשלום, מיקומך, דרכי ההתקשרות עמך וכתובת הדואר האלקטרוני שלך. מובהר כי אינך מחויב למסור פרטים אלו על פי דין, ומסירתם תלויה אך ברצונך ובהסכמתך החופשיים. אולם, מסירת חלקם מחייב, במובן שבו ללא מסירתם ייתכן ולא תוכל לבצע פעולות שונות באמצעות האתר ו/או ליהנות מהטבות מסוימות. לדוגמא, ללא מסירת פרטי תשלום לא תוכל לבצע רכישה, וללא מסירת כתובת הדוא"ל שלך, לא תוכל  להצטרף למועדון הלקוחות שלה (ובתוך כך, גם לזכות בהטבות שונות ממנה) (להלן יחדיו "מסירת המידע").
            </p>
            <p>
                2.2. המשתמש מצהיר ומאשר בזאת כי המידע שמסר ו/או אשר ייאסף אודותיו במסגרת התקשרותו זו עם החברה ו/או במסגרת השימוש שיעשה באתר ו/או במסגרת הצטרפותו למועדון הלקוחות  ו/או במסגרת השתתפותו במבצעים ו/או בקמפיינים מסוימים (להלן "הנתונים"), ישמר במאגרי המידע הרשומים של החברה
                המפורטות דלעיל, המשמשים בין היתר למטרות הבאות: דיוור ישיר וקשר עם הלקוח; טיוב נתונים ושירותי דיוור ישיר; מחקר; מתן שירות ללקוחות; ניהול מועדון לקוחות; ניהול מכירות, שיווק וגיוס לקוחות והתאמת חווית המשתמש באופן אישי ללקוח, וכן כאמור בסעיף 2.3 שלהלן.
            </p>
            <p>
                2.3. המשתמש מאשר ומסכים כי המידע שמסר לחברה ו/או המידע אשר ייאסף אודותיו אגב רכישת מותגי החברה , כולם או חלקם, ו/או במסגרת הצטרפותו למועדון הלקוחות  ו/או במסגרת השתתפותו במבצעים ו/או בקמפיינים כאלו ואחרים, ישמר במאגרי המידע של החברה וישמש, בין היתר, לניהול השירות וייעול הקשר עמו, לצרכים תפעוליים, שיווקיים וסטטיסטיים, טיוב, העשרת נתונים והפיכתם לאנונימיים, העברתם כאנונימיים לצדדים שלישיים, לדיוור ישיר של מסרים שיווקיים ופרסומיים המתואמים אישית, באתר ו/או באמצעי המדיה החברתית השונים ו/או במסגרת מועדון הלקוחות של החברה  וזאת, בין היתר, לשם שיפור חווית הלקוח בכלל ושימושו בכל אלו בפרט, ולעיבוד מידע למטרות אלו ובהתאם למטרות המאגרים של החברות השונות וכמפורט בס"ק 2.2 לעיל.
            </p>
            <p>
                2.4. ידוע לך כי לא חלה עליך כל חובה חוקית למסור את המידע ומסירתו הינה מרצונך החופשית ובהסכמתך
            </p>
            <p>
                2.5. המשתמש מצהיר ומתחייב בזאת, כי כל המידע שימסור ו/או יעדכן באתר ו/או במסגרת הצטרפותו למועדון הלקוחות  ו/או במסגרת השתתפותו במבצעים ו/או קמפיינים מסוימים, הינו נכון, אמין ומדויק וכן, כי מסר את המידע בשמו ועבור עצמו בלבד, ולא בשם ו/או עבור צדדים שלישיים, למעט במקרים בהם הורשה לעשות כן, במפורש. המידע שמסר המשתמש, אף במצב אורח וללא הליך הרשמה, וכן מידע נוסף אשר יצטבר אודותיו ואודות פעולותיו באמצעות האתר ישמרו במאגרי המידע של החברה, המפורט לעיל, ויעשה בו שימוש בהתאם למטרות המאגרים המפורטות בסעיף 2.2 לעיל ובהתאם למדיניות פרטיות זו ו/או בהתאם להוראות כל דין.
            </p>
            <p>
                3. איסוף ושימוש במידע
            </p>    
            <p>
                3.1. החברה רשאיות לאסוף וכן לעשות שימוש במידע שנמסר על ידי המשתמש במהלך ביצוע פעולה באתר ו/או במהלך רכישה בחנויות הרשת, אף אם לא השלים אותה (דוגמת מילוי טופס או רכישה), ו/או במידע אשר הצטבר אודות המשתמש, לרבות במהלך השימוש באתר ולרבות במהלך הצטרפותו למועדון הלקוחות  ו/או במהלך השתתפותו במבצעים ו/או בקמפיינים מסוימים (כולם יחדיו מהווים חלק מהנתונים כהגדרתם לעיל), על מנת לשפר, להעשיר או לשנות את האתר (לרבות שינוי של האתר המוצג למשתמש), וכן את השירותים והתכנים המוצעים באתר ו/או במסגרת איזה מהשירותים הנוספים שמציעה החברה (מועדון הלקוחות וכיוצ"ב), וכן על מנת לייעל ולנהל את הקשר עם המשתמש, בכלל דרכי ההתקשרות עמו, וכן לשם עריכת סקרי שביעות רצון באשר למבצעים ו/או לשירותים המוצעים על ידי החברה, מי מטעמה ו/או על ידי צדדים שלישיים עימם יש לחברה  שיתוף פעולה עסקי.
            </p>
            <p>
                3.2. בנוסף, ובהתאם למטרות המאגרים, רשאיות החברה לעשות שימוש בנתונים ובמידע למטרות שיווקיות, מסחריות וסטטיסטיות, כאמור בסעיפים 2.2-2.3, ואף למסור מידע סטטיסטי לצדדים שלישיים, לרבות מפרסמים, וזאת בכפוף לתנאי מדיניות פרטיות זו. מידע סטטיסטי שיימסר לצדדים שלישיים לא יזהה את המשתמש באופן אישי.
            </p>
            <p>
                3.3. כמו כן, רשאית החברה לעשות שימוש במידע אשר נתקבל מאת המשתמש ו/או במידע שנאסף אודותיו, גם עבור הבאים – לניהול וייעול הקשר עם המשתמש כאמור, וכן לשם יצירת קשר עם המשתמש במקרה הצורך; לצורך תחזוקת האתר ו/או המערכת; לצורך שיפור המידע, המוצרים, המבצעים והתכנים שהחברה תציע, במסגרת האתר ו/או במסגרת דיוור מכל סוג (ובכל סוגי המדיה, לרבות המדיה החברתית), במסגרת מועדון הלקוחות ו/או ההשתתפות במבצעים ו/או בקמפיינים מסוימים, למשתמשים באופן אישי ו/או לכלל ו/או לחלק מן המשתמשים באתר.
            </p>
            <p>
                3.4. מבלי לגרוע מהאמור לעיל, בכפוף למסירת המשתמש את פרטי ההתקשרות שלו לחברה והסכמתו לקבלת דיוור ישיר, יהיו החברה רשאית לשלוח למשתמש, מעת לעת, בדואר אלקטרוני ו/או באמצעי התקשרות אחרים אשר מסר המשתמש ו/או באמצעי המדיה החברתית השונים, מידע בדבר שירותיה וכן מידע שיווקי ופרסומי של החברה, לרבות מידע מותאם לצרכי המשתמש על פי פילוח הנתונים ועיבודם. המשתמש יהיה רשאי לבטל בכל עת את הסכמתו ולחדול מקבלת המידע כאמור, באמצעות פניה למוקד שירות הלקוחות, כמפורט בסופה של מדיניות זו, או באמצעות לחצן "הסרה" אשר יופיע בתחתית ההודעה הנשלחת.
            </p>
             <h2 class="section-title">Cookies</h2>
             <p>
                3.5. ידיעתך – האתר משתמש בעוגיות (להלן "Cookies" ו/או "עוגיות") לצורך תפעולו השוטף והתקין, לשם אבטחת הנתונים בו והמידע אותו אתה מוסר, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, למען אימות פרטים, לשם שיפור חווית הגלישה שלך, תוך התאמת האתר להעדפותיך האישיות, להקל על גלישתך באתר, לשם אפיון המוצרים המתאימים לך, להתאים עבורך פרסומות הרלבנטיות אליך, אף בגלישתך באתרים אחרים, הכל למטרות סטטיסטיות, מחקריות ומסחריות, וכמובן לצרכי אבטחת מידע.
             </p>
             <p>
                3.6. עוגיות הן קבצי טקסט, אשר הדפדפן של המשתמש יוצר לפי פקודה ממחשבי החברה . חלק מהעוגיות יפקעו כאשר תסגור את הדפדפן ואחרות נשמרות על גבי הכונן הקשיח במחשב שלך. העוגיות מכילות מידע מגוון כדוגמת הדפים שבהם ביקרת, משך הזמן ששהית באתר, מהיכן הגעת אל האתר, מדורים ומידע שהמשתמש מבקש לראות בעת הכניסה לאתר ועוד. כמו כן יכול והעוגיות ישמרו אף מידע בדבר הרגלי הגלישה של הגולש באתרים אחרים, לרבות האתרים בהם גלש, העמודים באתרים וכל פעולה אחרת בהם. המידע בעוגיות מוצפן, והחברה נוקטת צעדי זהירות כדי להבטיח שרק מחשבי החברה או מי מטעמה יוכלו לקרוא ולהבין את המידע האגור בהם.
             </p>
             <p>
                3.7. האתר עשוי לעשות שימוש אף בעוגיות צד ג' – למשל עוגיות של חברת Google כגון אלו המוטמעות תוך שימוש ב- Google Analytics, העוזרות לנו להתאים עבורך את חווית הגלישה. למידע נוסף על עוגיות אלו תוכל למצוא באתר של גוגל בכתובת –
https://www.google.com/intl/en/policies/technologies/ads/ וכן במדיניות העוגיות של פייסבוק בכתובת - https://www.facebook.com/policies/cookies/.
             </p>
             <p>
                3.8. אם אינך רוצה לקבל עוגיות, תוכל להימנע מכך על ידי שינוי ההגדרות בדפדפן שלך. לשם כך נא היוועץ בקובץ העזרה של הדפדפן. זכור, עם זאת, כי נטרול העוגיות עלול לגרום לכך שלא תוכל להשתמש בחלק מהשירותים והתכונות באתר.
             </p>
             <p>
                4. מסירת מידע לצד שלישי
             </p>
             <p>
                4.1. החברה, תנקוט באמצעים סבירים ומקובלים על מנת לשמור ולמנוע העברת פרטים אישיים המזהים את המשתמש בשמו ו/או בפרטי זהותו, כגון שם וכתובת המשתמש, לצדדים שלישיים, וזאת למעט במקרים כדלקמן:
             </p>
             <p>
                4.1.1. על פי דרישת המשתמש ו/או בהסכמתו המפורשת;
             </p>
             <p>
                4.1.2. לצורך העברתם לספקי המוצרים על מנת להשלים את פעולת הרכישה אשר ביצע המשתמש באתר;
             </p>
             <p>
                4.1.3. במסגרת שיתופי פעולה עם חברות קשורות עסקית עם החברה, או עם אחת או יותר מהחברות בה;
             </p>
             <p>
                4.1.4. בכל מקרה בו הפר המשתמש את תנאי השימוש, לרבות תנאי מדיניות הפרטיות ו/או במקרים בהם בצע המשתמש או ניסה לבצע המשתמש ו/או מי מטעמו, באמצעות האתר ו/או בקשר איתו, פעולות המנוגדות להוראות תנאי השימוש, לרבות מדיניות הפרטיות, ולרבות הוראות כל דין;
             </p>
             <p>
                4.1.5. במקרה בו העברת פרטייך נדרשת לצורך השלמת בקשה ו/או פנייה מטעמך ו/או אספקת שירות ו/או העברת תשלום מטעמך. בהקשר זה, ידוע לך כי החברה עושה שימוש בשירותי סליקה חיצוניים, ולשם כך ולמטרת ביצוע התשלומים והחיובים, יעשה גם שימוש בפרטי התשלום שתזין בפלטפורמה.
             </p>
             <p>
                4.1.6. בשל צו שיפוטי המורה לחברה , למסור את המידע לצדדים שלישיים;
             </p>
             <p>
                4.1.7. בשל כל מחלוקת, טענה, תביעה, דרישה ו/או הליכים משפטיים אשר יתנהלו בין המשתמש ו/או מי מטעמו לבין החברה, ו/או אחת או יותר מהחברות הכלולות בה, ו/או מי מטעמה;
             </p>
             <p>
                4.1.8. בכל מקרה בו תסבור החברה, או אחת מהחברות הכלולות בה, כי מסירת המידע נחוצה על מנת למנוע נזק חמור לרכושם ו/או לגופם של החברה, או מי מהכלולות בה, ו/או מי מטעמם ו/או של המשתמש ו/או של צדדים שלישיים, או על מנת
                למנוע נזק חמור אחר לפי שיקול דעתה הבלעדי;
             </p>
             <p>
                4.1.9. במקרה בו העבירה ו/או המחתה החברה, או אחת או יותר מהחברות הכלולות בה, לצד שלישי את פעילותה ו/או את זכויותיה וחובותיה כלפי המשתמש, לצדדים שלישיים, ובלבד שצדדים שלישיים כאמור יקבלו על עצמם את ההוראות המפורטות במדיניות פרטיות זו.
             </p>
             <p>
                4.2. אין באמור לעיל בכדי לגרוע מזכות החברה להעביר לצדדים שלישים מידע שאינו אישי, אשר אין בו בכדי לזהות את המשתמש בשמו ו/או בפרטי זהותו באופן ישיר.
             </p>
              <h2 class="section-title">5. אבטחת מידע</h2>
             <p>
                5.1. החברה עושה ככל שביכולתה כדי להגן על סודיות הנתונים אשר נמסרו על ידי משתמשי האתר ולקוחותיה, זאת תוך נקיטת אמצעי זהירות מקובלים ושימוש בטכנולוגיות אבטחה מתקדמות. ידוע למשתמש, כי החברה מקדישה משאבים ונוקטת אמצעים מחמירים למניעת חדירה לאתר ולסיכול פגיעה אפשרית בפרטיות המשתמש, אולם היא אינה יכולה למנוע שיבושים באתר באופן מוחלט.
             </p>
             <p>
                5.2. החברה תשתמש באמצעי הגנה והצפנה, הנהוגים בתחום הסחר האלקטרוני בישראל לפעולות של מסירת מידע מקוון. אמצעי ההגנה האמור נועדו לאבטחת זרימת מידע מוצפנת בין מחשב המשתמש בזמן ביצוע הרכישה לבין שרתי האתר והחברה .
             </p>
             <p>
                5.3. החברה עושות כל שביכולתן ונעזרות באמצעי אבטחה טכנולוגיים וארגוניים מתקדמים כדי לאבטח את האתר, את התקשורת דרכו ואת המידע המצוי בשליטתה, כנגד ניצול מקרי או מכוון, אובדן, הרס או כנגד גישה על ידי אנשים בלתי מוסמכים או מורשים. ההתקשרות בין המחשב של המשתמש או המבקר באתר לבין מחשבי החברה מאובטחת באמצעות שיטות הצפנה מקובלות, בהתאם לתקנים הנהוגים. כמו כן, החברה נוקטת באמצעים סבירים להגנה על האתר ועל רכיבי חומרה ותוכנה הקשורים בתפעולו ודואגת לעדכנם באופן שוטף, בין היתר, כדי להגן על האתר ועל תוכנו מפני חדירות, פרצות או האזנות בלתי מורשות.
             </p>
             <p>
                5.4. כך, החברה מתעדכנות באופן שוטף בהתפתחויות הטכנולוגיות בתחומי התוכנה והחומרה על-מנת לספק למשתמשי האתר ולקוחותיה את ההגנה הטובה ביותר מפני חדירה או פריצה, לרבות כניסה לא מורשית למאגרי המידע שלה. עם זאת החברה מבהירות, כי במקרים אשר אינם בשליטתן ו/או נובעים מכח עליון, הן אינן מתחייבות, שהאתר יתנהל כסדרו, ללא כל הפרעה, ו/או שהאתר ו/או הנתונים שנאספו ו/או נמסרו כאמור לעיל יהיו חסינים באופן מוחלט מפני גישה ו/או חדירה בלתי מורשית למאגרי המידע של החברה וכי ידוע למשתמש שה החברה לא תישאנה באחריות בגין כל נזק ו/או אובדן, ישירים או עקיפים, מכל סוג שהוא, שנגרמו כתוצאה מכך, לרבות בשל פגיעה בפרטיות.
             </p>
             <p>
                5.5. כל נושא השימוש וסליקת כרטיסי האשראי מהאתר נעשית באופן מוצפן ומאובטח באמצעות חברת סליקת אשראי חיצונית, העושה שימוש בשיטות הצפנה חדישות ועל ידי מנגנוני הצפנה אשר הינם בהתאם לתקנים בינלאומיים.
             </p>
             <p>
                6. יצירת קשר בנושא פרטיות
             </p>
            <p>
                6.1. על-פי חוק הגנת הפרטיות, התשמ"א-1981, הינך, או מי מטעמך, רשאי לעיין במידע אודותיך אשר מצוי במאגרי החברה ואף לבקש מההחברה לתקן מידע זה אם אינו נכון, שלם או מדויק. כדי לממש זכות זו, יש לשלוח בקשה בכתב אל החברה באמצעות לשונית "צור קשר" באתר, או לחילופין ניתן לפנות לאחד מפרטי ההתקשרות המפורטים בסעיפים שלהלן.
            </p>
            <p>
                
            </p>

          </div>
        </div>
      </div>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>

    {{> footer}}
</html>