
body {
  text-align: center;
  padding: 40px 0;
  background: #EBF0F5;
}
  h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    direction: rtl;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    direction: rtl;
  }
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
}
#countdown{
    direction: rtl;
}
a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #3cb371;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

a:hover {
  background-color: #2e8b57;
}